{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
